{% extends 'cards/base.html' %}

{% block content %}
    {% if card %}
        <h2> ✏️ Редактировать</h2>
    {% else %}
        <h2> ✨ Создать новую</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %} <!-- security measure to prevent cross-site request forgery -->
        {{ form.as_p }} <!-- display the form fields wrapped in paragraphs -->
        <input type="submit" name="set-word-pos" value="Сохранить">
    </form>
    <a href="{% url 'card-list' %}" >
        Отмена
    </a>
{% endblock %}